* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 625px;
}
h1 {
  color: white;
  width: 85vw;
  background-color: black;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 2.5rem;
}
h2 {
  color: black;
  width: 85vw;
  background-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  font-size: 2.5rem;
}
section p {
  color: white;
  background-color: black;
  width: 60vw;
  border-top-left-radius: 100px;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 1.5rem;
}
#hello {
  color: white;
  background-color: black;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 30vw;
}
#hello1 {
  background-color: white;
  width: 85vw;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 30vw;
}
#downp {
  background-color: white;
  color: black;
  width: 60vw;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
section button {
  margin: 25px;
  padding: 15px;
  font-size: 1.5rem;
  background: linear-gradient(to left, #c39b9b, #53260efa);
  color: white;
  cursor: pointer;
}
section button:hover {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 750px) {
  h1,
  h2 {
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    width: 100vw;
  }
  h2 {
    font-size: 1.5rem;
  }

  #hello {
  }
  #hello1 {
  }
  #downp {
    font-family: "Heebo", sans-serif;
    width: 90vw;
    font-size: 1.2rem;
  }
  section {
    height: 547px;
  }
  section p {
    font-family: "Heebo", sans-serif;
    width: 90vw;
    font-size: 1.5rem;
  }
  section button {
    padding: 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  section {
    height: 662px;
  }
  h1,
  h2 {
    font-size: 1rem;
  }
  section p {
    font-size: 0.9rem;
  }
}
